/* 
input:read-only {
    background-color: lightgray;
}

.file-name {
    min-width: 150px;
    max-width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

hr.separate {
    width: calc(100% - var(--default-gap) * 2);
    margin: calc(var(--default-gap) * 2);
    border-color: gray;
    border-style: solid;
} */
